


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
   
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon16x16.png">

    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css">
    <link rel="stylesheet" href="/node_modules/cropperjs/dist/cropper.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-4.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-4.css">


</head>

<body>
    <div class="page-wrapper">
      <%- include('partials/header.ejs')%>

        <main class="main bg-light">
        	
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3 ">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        
                        <li class="breadcrumb-item"><a href="/admin/products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add products</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
                
	                <div class="container">
	                	<div class="row g-0">
                            <div class="col-lg-2 col-md-4 border bg-white">
	                		
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-4 mt-md-2" role="tablist">
								    <li class="nav-item p-3">
								        <a class="nav-link" id="tab-dashboard-link"  href="/admin/dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="false">Dashboard</a>
								    </li>
                    <li class="nav-item p-3">
                      <a class="nav-link " id="tab-address-link" href="/admin/sales" role="tab" aria-controls="tab-address" aria-selected="false">Sales</a>
                  </li>
								    <li class="nav-item p-3 ">
								        <a class="nav-link  active" id="tab-orders-link"  href="/admin/products" role="tab" aria-controls="tab-orders" aria-selected="true">Products</a>
								    </li>
								    <li class="nav-item p-3 ">
								        <a class="nav-link " id="tab-orders-link"  href="/admin/category" role="tab" aria-controls="tab-orders" aria-selected="false">Product category</a>
								    </li>
								    <li class="nav-item p-3">
								        <a class="nav-link" id="tab-downloads-link" href="/admin/orders" role="tab" aria-controls="tab-downloads" aria-selected="false">Orders</a>
								    </li>
								    <li class="nav-item p-3">
								        <a class="nav-link" id="tab-address-link" href="/admin/users" role="tab" aria-controls="tab-address" aria-selected="false">Users</a>
								    </li>
                    <li class="nav-item p-3">
                      <a class="nav-link" id="tab-address-link" href="/admin/coupon" role="tab" aria-controls="tab-address" aria-selected="false">Coupons</a>
                  </li>
                  <li class="nav-item p-3">
                      <a class="nav-link " id="tab-address-link" href="/admin/offers" role="tab" aria-controls="tab-address" aria-selected="false">Offers</a>
                  </li>
								   
								    <li class="nav-item pt-3 text-center">
                                        <form action="/admin/logout" method="post">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG OUT</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
								    </li>
								</ul>
	                		
                        </div>
                      <!-- CONTENT -->
	                		<div class="col-lg-10">
	                			<div class="w-100 h-100 bg-white">
                                    <div class="fluid-container p-3">
                                        <form action="/admin/products/add" method="post" enctype="multipart/form-data" id="addProductForm">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h2 class="checkout-title">Add Product</h2><!-- End .checkout-title -->
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label>Product name</label>
                                                                <input type="text" class="form-control" name="name" id="productName" onkeyup="CheckName(this)">
                                                                <span class="text-danger fs-5" id="errorMsgName"></span>
                                                            </div><!-- End .col-sm-6 -->
                                    
                                                            <div class="col-sm-4">
                                                                <label>Category</label>
                                                                
                                                                <select name="category" id="category" class="form-control dropdown-toggle">
                                                                  
                                                                    <option value="" disabled="true">Select category</option>
                                                                    <%for(let i=0; i<category.length;i++){%>
                                                                    <option value="<%=category[i]._id%>"><%=category[i].name%></option>
                                                                    <%}%>
                                                                </select>
                                                            
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-2">
                                                                <label>QTY</label>
                                                                <input type="number" class="form-control" name="quantity" id="qty">
                                                                <span class="text-danger fs-5" id="errorMsgQty"></span>
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>Selling Price</label>
                                                                <input type="number" class="form-control" name="price" id="price">
                                                                <span class="text-danger fs-5" id="errorMsgPrice"></span>
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>Original Price</label>
                                                                <input type="number" class="form-control" name="org_price" id="orgPrice">
                                                                <span class="text-danger fs-5" id="errorMsgOrgPrice"></span>
                                                            </div><!-- End .col-sm-4 -->
                                                            
                                                            <div class="col-sm-3">
                                                                <label>Brand</label>
                                                                <select name="brand" id="brand" class="form-control dropdown-toggle">
                                                                  
                                                                  <option value="" disabled="true">Select Brand</option>
                                                                  <%for(let i=0; i<brands.length;i++){%>
                                                                  <option value="<%=brands[i]._id%>"><%=brands[i].name%></option>
                                                                  <%}%>
                                                              </select>
                                                                <span class="text-danger fs-5" id="errorMsgBrand"></span>
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>Colour</label>
                                                                <input type="text" class="form-control" name="color" id="color">
                                                               <span class="text-danger fs-5" id="errorMsgColor"></span>
                                                               
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>Storage</label>
                                                                <input type="text" class="form-control" name="storage">
                                                                
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>RAM</label>
                                                                <input type="text" class="form-control" name="ram">
                                                            </div><!-- End .col-sm-4 -->
                                                        </div><!-- End .row -->
                                                        <div class="row">
                                                            <div class="col-md-6 mt-4">
                                                                <div class="mb-3" id="photoParent">
                                                                  <label for="photoProduct" class="form-label">Upload Photo</label>
                                                                  <input
                                                                    type="file"
                                                                    class="form-control"
                                                                    id="photoProduct"
                                                                    name="image"
                                                                    accept="image/png,image/gif,image/jpg,image/jpeg"
                                                                    multiple
                                                                    onchange="displaySelectedImages(this)"
                                                                  />
                                                                  <div class="mt-1">
                                                                    <p style="font-size: small; color: red" class="warn"></p>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                              <div id="selectedImagesContainer" class="p-2 d-flex"></div>
                                                              
                                                              <!-- <button style="display: none;" id="deletebtn" class="btn btn-danger btn-sm ms-auto " type="button" onclick="clearSelectedImages()">Cancel All Selection</button> -->
                                                            </div>

                                                        <label>Description</label>
                                                        <textarea class="form-control" cols="30" rows="4" placeholder="Description about the product" name="description" id="description"></textarea>
                                                        <span class="text-danger fs-5" id="errorMsgDescription"></span>
                                                        <div class="btn-wrap d-flex justify-content-around pt-3">
                                                            <div class="btn-wrap">
                                                                <a href="/admin/products" class="btn btn-outline-primary btn-rounded">Cancel</a>
                                                            </div>
                                                            <div class="btn-wrap"> 
                                                                <button type="submit" class="btn btn-primary btn-rounded">ADD PRODUCT</button>
                                                            </div>
                                                            
                                                        </div>
                                                       
                                                    </div><!-- End .col-lg-9 -->
                                                
                                            </div><!-- End .row -->

                                        </form>
                                    </div>

								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<script src="/node_modules/cropperjs/dist/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="/js/productAddForm.js"></script>

    <script>
        let allFiles = [];
        let cropper;
        function displaySelectedImages(input) {
          const container = document.getElementById("selectedImagesContainer");
          if (input.files) {
            const files = Array.from(input.files);
            for (let i = 0; i < files.length; i++) {
              const file = files[i];
        
              const reader = new FileReader();
        
              reader.onload = function (e) {
                const imageContainer = document.createElement("div");
                imageContainer.classList.add("me-2", "border", "p-2");
                const img = document.createElement("img");
                img.src = e.target.result;
                img.style.cssText = "max-width: 100px;height: 100px";
                img.classList.add("selected-image");
        
                const p_tag = document.createElement("p");
                p_tag.style.cssText = "max-width: 100px;";
                p_tag.textContent = file.name;
        
                const deleteBtn = document.createElement("button");
                deleteBtn.classList.add("btn", "btn-primary", "btn-sm", "ms-auto");
                deleteBtn.innerText = "cancel";
                deleteBtn.addEventListener("click", (e) => {
                  e.preventDefault();
                  clearSelectedImages(file, imageContainer);
                });
        
                const cropBtn = document.createElement("button");
                cropBtn.innerText = 'crop'
                cropBtn.classList.add("btn", "btn-primary", "btn-sm","ms-3");
                cropBtn.addEventListener("click", (e) => {
                  e.preventDefault();
                  cropBtn.disabled = true ;
                  cropImage(img, file,imageContainer,cropBtn,deleteBtn);
                });
        
                imageContainer.appendChild(img);
                imageContainer.appendChild(p_tag);
                imageContainer.appendChild(deleteBtn);
                imageContainer.appendChild(cropBtn);
                container.appendChild(imageContainer);
              };
        
              
              // Add the newly selected image to the allFiles array
              allFiles.push(file);
              reader.readAsDataURL(file);
              const dataTransfer = new DataTransfer();
              for (let i = 0; i < allFiles.length; i++) {
                dataTransfer.items.add(allFiles[i]);
              }
              input.files = dataTransfer.files;
            }
          }
        }
        
        function clearSelectedImages(file, imageContainer) {
          const input = document.getElementById("photoProduct");
          const container = document.getElementById("selectedImagesContainer");
        
          // Remove the file from the allFiles array
          const index = allFiles.indexOf(file);
          if (index !== -1) {
            allFiles.splice(index, 1);
          }
        
          // Update the file input with the remaining files
          const dataTransfer = new DataTransfer();
          for (let i = 0; i < allFiles.length; i++) {
            dataTransfer.items.add(allFiles[i]);
          }
          input.files = dataTransfer.files;
          // Remove the image container
          imageContainer.remove();
          if (cropper) {
            cropper.destroy();
          }
        }
        
        
        function cropImage(img, file,imageContainer,cropBtn,deleteBtn) {
          if (cropper) {
            cropper.destroy();
          }
        
          cropper = new Cropper(img, {
            aspectRatio: 1,
            viewMode: 1,
            crop(event) {
              // You can add cropping event handling here if needed
            },
          });
        
          const cancelBtn = document.createElement("button");
          const saveBtn = document.createElement("button");
          const cancelCroppedImageBtn = document.createElement("button");
          cancelCroppedImageBtn.classList.add("btn", "btn-primary", "btn-sm", "ms-3","mb-4");
          cancelCroppedImageBtn.innerText = "Cancel Image"
        
          saveBtn.classList.add("btn", "btn-primary", "btn-sm", "ms-3");
          saveBtn.innerText = "Save";
          saveBtn.addEventListener("click", (e) => {
            e.preventDefault()
            const canvas = cropper.getCroppedCanvas();
            canvas.toBlob((blob) => {
              const croppedFile = new File([blob], file.name, {
                type: 'image/jpeg',
                lastModified: Date.now(),
              });
              const croppedImg = document.createElement("img");
              croppedImg.style.cssText = "max-width: 100px;height: 100px";
              
              // Set the cropped canvas data URL as the source for the new image element
              croppedImg.src = canvas.toDataURL();
        
              // Remove the original image from the container
              img.remove();
        
              imageContainer.appendChild(croppedImg);
              imageContainer.appendChild(cancelCroppedImageBtn);
              
        
              // Update the input files
              allFiles.push(croppedFile);
        
              cancelCroppedImageBtn.addEventListener('click',(e)=>{
                
                const input = document.getElementById("photoProduct");
                e.preventDefault();
               const index =  allFiles.indexOf(croppedFile);
               allFiles.splice(index,1);
               const dataTransfer = new DataTransfer();
                for (let i = 0; i < allFiles.length; i++) {
                  dataTransfer.items.add(allFiles[i]);
                }
                input.files = dataTransfer.files;
                imageContainer.remove()
              })
        
        
              updateInputFiles(file);
              cropper.destroy();
              saveBtn.style.display = 'none'
              cancelBtn.style.display = 'none'
              cropBtn.style.display = 'none'
              deleteBtn.style.display = 'none'
            }, 'image/jpeg');
          });
        
          cancelBtn.classList.add("btn", "btn-secondary", "btn-sm", "ms-3");
          cancelBtn.innerText = "Cancel croping";
          cancelBtn.addEventListener("click", (e) => {
            e.preventDefault()
            cropper.destroy();
            cancelBtn.style.display = 'none'
            saveBtn.style.display = 'none'
            cropBtn.disabled = false ;
          });
        
          
          imageContainer.appendChild(cancelBtn);
          imageContainer.appendChild(saveBtn);
        }                                                            
        
        
        function updateInputFiles(file) {
          const input = document.getElementById("photoProduct");
          const index =  allFiles.indexOf(file);
          allFiles.splice(index,1);
          const dataTransfer = new DataTransfer();
          for (let i = 0; i < allFiles.length; i++) {
            dataTransfer.items.add(allFiles[i]);
          }
          input.files = dataTransfer.files;
        }

        </script>


    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>


</html>