


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
   
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon16x16.png">

    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-4.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-4.css">


</head>

<body>
    <div class="page-wrapper">
      <header class="header header-intro-clearance header-4">
        
    
        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only"></span>
                        <i class="icon-bars"></i>
                    </button>
                    
                    <a href="/" class="logo">
                        <img src="/assets/images/logo.png" alt="Molla Logo" width="165" height="52">
                    </a>
                </div><!-- End .header-left -->
    
                <div class="header-center">
                    <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper search-wrapper-wide">
                                <label for="q" class="sr-only"></label>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                </div>
    
                <div class="header-right">
                    <div class="dropdown compare-dropdown">
                        <a href="/admin/profile" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static" title="Profile" aria-label="Profile">
                            <div class="icon">
                                <i class="icon-user"></i>
                                <p>Profile</p>
                            </div>
                        </a>
                    </div>
                    
                </div><!--End .header-right -->
            </div><!--End .container -->
        </div> <!--End .header-middle-->
    
        
    </header><!-- End .header -->

        <main class="main bg-light">
        	
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3 ">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        
                        <li class="breadcrumb-item"><a href="/admin/products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit product</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
                
	                <div class="container">
	                	<div class="row g-0">
                            <div class="col-lg-2 col-md-4 border bg-white">
	                		
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-4 mt-md-2" role="tablist">
								    <li class="nav-item p-3">
								        <a class="nav-link" id="tab-dashboard-link"  href="/admin/dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="false">Dashboard</a>
								    </li>
                                    <li class="nav-item p-3">
								        <a class="nav-link " id="tab-address-link" href="/admin/sales" role="tab" aria-controls="tab-address" aria-selected="false">Sales</a>
								    </li>
								    <li class="nav-item p-3 ">
								        <a class="nav-link  active" id="tab-orders-link"  href="/admin/products" role="tab" aria-controls="tab-orders" aria-selected="true">Products</a>
								    </li>
								    <li class="nav-item p-3 ">
								        <a class="nav-link " id="tab-orders-link"  href="/admin/category" role="tab" aria-controls="tab-orders" aria-selected="false">Product category</a>
								    </li>
                                    <li class="nav-item p-3 ">
								        <a class="nav-link " id="tab-orders-link"  href="/admin/brands" role="tab" aria-controls="tab-orders" aria-selected="false">Product Brands</a>
								    </li>
								    <li class="nav-item p-3">
								        <a class="nav-link" id="tab-downloads-link" href="/admin/orders" role="tab" aria-controls="tab-downloads" aria-selected="false">Orders</a>
								    </li>
								    <li class="nav-item p-3">
								        <a class="nav-link" id="tab-address-link" href="/admin/users" role="tab" aria-controls="tab-address" aria-selected="false">Users</a>
								    </li>
                                    <li class="nav-item p-3">
								        <a class="nav-link" id="tab-address-link" href="/admin/coupon" role="tab" aria-controls="tab-address" aria-selected="false">Coupons</a>
								    </li>
								    <li class="nav-item p-3">
								        <a class="nav-link " id="tab-address-link" href="/admin/offers" role="tab" aria-controls="tab-address" aria-selected="false">Offers</a>
								    </li>
								   
								    <li class="nav-item pt-3 text-center">
                                        <form action="/admin/logout" method="post">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG OUT</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
								    </li>
								</ul>
	                		
                        </div>
                      <!-- CONTENT -->
	                		<div class="col-lg-10">
	                			<div class="w-100 h-100 bg-white">
                                    <div class="fluid-container p-3">
                                        <form action="/admin/products/<%= product._id %>/edit" method="post" enctype="multipart/form-data" id="addProductForm">
                                            <div class="row">
                                            
                                                <div class="col-lg-12">
                                                    <h2 class="checkout-title">Edit Product</h2><!-- End .checkout-title -->
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label>Product name</label>
                                                                <input type="text" class="form-control" name="productName" value="<%= product.name%>" onkeyup="CheckName(this)" required>
                                                            </div><!-- End .col-sm-6 -->
                                    
                                                            <div class="col-sm-4">
                                                                <label>Category</label>
                                                                <select name="category" id="category" class="form-control dropdown-toggle">
                                                                  
                                                                    <option value="" disabled="true">Select Brand</option>
                                                                    <option value="<%=product.category._id%>" selected="selected"><%=product.category.name%></option>
                                                                    <%for(let i=0; i<categories.length;i++){%>
                                                                    <option value="<%=categories[i]._id%>"><%=categories[i].name%></option>
                                                                    <%}%>
                                                                </select>
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-2">
                                                                <label>QTY</label>
                                                                <input type="number" class="form-control" name="quantity" value="<%= product.quantity %>" required>
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>Selling Price</label>
                                                                <input type="number" class="form-control" name="price" value="<%= product.price %>" required>
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>Original Price</label>
                                                                <input type="number" class="form-control" name="org_price" value="<%= product.org_price %>">
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>Brand</label>
                                                                <select name="brand" id="brand" class="form-control dropdown-toggle">
                                                                  
                                                                    <option value="<%=product.brand._id%>" selected="selected"><%=product.brand.name%></option>
                                                                    <%for(let i=0; i<brands.length;i++){%>
                                                                    <option value="<%=brands[i]._id%>"><%=brands[i].name%></option>
                                                                    <%}%>
                                                                </select>
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>Colour</label>
                                                                <input type="text" class="form-control" name="color" value="<%= productVar.color %>" required>
                                                               
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>Storage</label>
                                                                <input type="text" class="form-control" name="storage" value="<%= productVar.storage %>">
                                                            </div><!-- End .col-sm-4 -->
                                                            <div class="col-sm-3">
                                                                <label>RAM</label>
                                                                <input type="text" class="form-control" name="ram" value="<%= productVar.ram %>">
                                                            </div><!-- End .col-sm-4 -->
                                                        </div><!-- End .row -->
                                                        <div class="row">
                                                            <div class="col-md-6 mt-4">
                                                                <div class="mb-3 " id="photoParent">
                                                                  <label for="productPhoto" class="form-label">Upload Photo</label>
                                                                  <input value=" http://localhost:5000/productImages/<%= product.image %>" type="file" class="form-control" id="photoProduct" name="image" accept="image/png,image/gif,image/jpg,image/jpeg" multiple onchange="displaySelectedImages(this)"/>
                                                                 
                                                                   
                                                                </div>
                                                              </div>
                                                        </div>
                                                        <label>Description</label>
                                                        <textarea class="form-control" cols="30" rows="4" name="description" ><%= product.description %></textarea>
                                                        <div class="btn-wrap d-flex justify-content-around pt-3">
                                                            <div class="btn-wrap">
                                                                <a href="/admin/products" class="btn btn-outline-primary btn-rounded">Cancel</a>
                                                            </div>
                                                            <div class="btn-wrap"> 
                                                                    <button type="submit" class="btn btn-primary btn-rounded">SAVE</button>
                                                            </div>
                                                            
                                                        </div>
                                                       
                                                    </div><!-- End .col-lg-9 -->
                                                
                                            </div><!-- End .row -->
                                        </form>
                                    </div>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

       

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="/js/productAddForm.js"></script>
</body>


</html>