<%- include("partials/head.ejs")%>

	<body>
		<div class="page-wrapper">
			<%- include("partials/navbar.ejs")%>
				<main class="main">
					<div class="page-header text-center"
						style="background-image: url('assets/images/page-header-bg.jpg')">
						<div class="container">
							<h1 class="page-title">Checkout<span>Shop</span></h1>
						</div><!-- End .container -->
					</div><!-- End .page-header -->
					<nav aria-label="breadcrumb" class="breadcrumb-nav">
						<div class="container">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item"><a href="#">Shop</a></li>
								<li class="breadcrumb-item active" aria-current="page">Checkout</li>
							</ol>
						</div><!-- End .container -->
					</nav><!-- End .breadcrumb-nav -->

					<div class="page-content">
						<div class="checkout">
							<div class="container">
								<div class="checkout-discount">

									<div class="cart-discount">
										<form action="/coupon-apply?cartId=<%= cart._id%>" method="post">
											<div class="input-group">
												<input type="text" class="form-control" required
													placeholder="coupon code" name="couponCode">
												<div class="input-group-append">
													<button class="btn btn-outline-primary-2" type="submit"><i
															class="icon-long-arrow-right"></i></button>
												</div><!-- .End .input-group-append -->
											</div><!-- End .input-group -->
										</form>
									</div><!-- End .cart-discount -->
								</div><!-- End .checkout-discount -->
								<form action="/checkout/<%= cart._id%>" method="post" id="checkoutSubmit">
									<div class="row">
										<div class="col-lg-7">

											<aside class="col-lg-12">
												<div class="summary">
													<h3 class="summary-title">Your addresses</h3>
													<!-- End .summary-title -->

													<%for(let address of addresses){%>
														<div class="accordion-summary" id="accordion-payment">
															<div class="card">

																<div class="row">
																	<div class="col-lg-12 ">
																		<div class="card card-dashboard">
																			<div class="p-3 ps-5 pe-5 border">
																				<input type="radio" name="address"
																					readonly="" id="newAddressForm"
																					value="<%= address._id %>"
																					checked="" required>
																				<div
																					class="d-flex flex-row justify-content-end">
																					<!-- End .card-title -->
																					<div class="small">
																						<%= address.address_type %>
																					</div>
																				</div>
																				<p>
																					<%= address.name %><br>
																						<%= address.mobile %> <br>
																							<%= address.pincode %>
																								<%= address.address %>
																									<%= address.district
																										%>
																										<%= address.state
																											%><br>
																											<a
																												href="/profile/address/<%= address._id %>/edit">Edit
																												<i
																													class="icon-edit"></i></a>
																				</p>
																			</div><!-- End .card-body -->
																		</div><!-- End .card-dashboard -->
																	</div><!-- End .col-lg-6 -->


																</div><!-- End .row -->

															</div><!-- End .card -->

														</div><!-- End .accordion -->



														<%}%>
												</div><!-- End .summary -->
											</aside><!-- End .col-lg-3 -->



										</div><!-- End .col-lg-9 -->
										<aside class="col-lg-5">
											<div class="summary">
												<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

												<table class="table table-summary col">
													<thead class="row">
														<tr>
															<th class="col-8">Product</th>
															<th class="col-1">Qty</th>
															<th class="col-2">Total</th>
														</tr>
													</thead>

													<tbody class="row">
														<input type="hidden" value="<%=cart.items%>"
															id="cart_items_hidden">
														<% for(let item of cart.items){%>

															<tr>
																<td class="col-2 pe-3"><a
																		href="/view?id=<%= item.product_var_id.product._id%>"><img
																			src="/productImages/<%= item.product_var_id.product.image[0]%>"
																			alt=""></a></td>
																<td class="col-8 pe-3"><a
																		href="/view?id=<%= item.product_var_id.product._id%>">
																		<%= item.product_var_id.product.name%>
																	</a></td>
																<td class="col-1 p-2">
																	<%= item.quantity%>
																</td>
																<td class="col-2">₹&nbsp;<%=
																		item.product_var_id.product.price%>
																</td>
															</tr>
															<%}%>
																<tr class="summary-subtotal">
																	<td>Subtotal:</td>
																	<td>₹&nbsp;<%= subTotal %>
																	</td>
																</tr><!-- End .summary-subtotal -->
																<tr>
																	<td>Shipping:</td>
																	<td>
																		<%if(subTotal<500){%> ₹&nbsp; 50<%}else{%>Free
																				shipping<%}%>
																	</td>
																</tr>
																<tr>
																	<td>Discount:</td>
																	<td>&nbsp; ₹&nbsp;<%=discountAmount%>
																	</td>
																	<%if(discountAmount>0){%>
																		<td>&nbsp;&nbsp;(<%=couponDescription%>)</td>
																		<%}%>
																</tr>
																<% if(discountAmount>0){%>

																	<tr>
																		<td>
																			<!-- <form action="/coupon/cancel?cartId=<%=cart._id%>" method="post"> -->
																			<button type="submit"
																				class="btn btn-warning btn-small"
																				id="cancelCoupon">Cancel coupon</button>
																			<!-- </form> -->
																		</td>
																	</tr>
																	<%}%>
																		<tr class="summary-total">
																			<td>Total:</td>
																			<td>₹&nbsp;<%= overallTotalPrice%>
																			</td>
																		</tr><!-- End .summary-total -->
													</tbody>
												</table><!-- End .table table-summary -->

												<div class="accordion-summary" id="accordion-payment">

													<div class="card pb-1">
														<div class="card-header" id="heading-3">
														<input type="radio" name="payment_type" id="walletCheckbox" value="wallet">
														<label for="walletCheckbox">Wallet <span>(Available wallet amount = <%=walletAmount%> )</span></label>
													</div>
													</div><!-- End .card -->

													<div class="card pt-1">
														<div class="card-header" id="heading-3">
															<input type="radio" name="payment_type" id="cod" value="cod"
																required>
															<label for="cod">Cash on delivery</label>
														</div><!-- End .card-header -->

													</div><!-- End .card -->

													<div class="card pt-1">
														<div class="card-header" id="heading-4">

															<input type="radio" name="payment_type" id="stripe"
																value="stripe">
															<label for="stripe">Stripe</label>

														</div><!-- End .card-header -->

													</div><!-- End .card -->

												</div><!-- End .accordion -->

												<button type="submit" class="btn btn-outline-primary-2 btn-order">
													<span class="btn-text">Place Order</span>
													<span class="btn-hover-text">Proceed to Checkout</span>
												</button>
											</div><!-- End .summary -->
										</aside><!-- End .col-lg-3 -->
								</form>
								<div class="card-header" id="heading-1">

									<button class="btn btn-outline" data-toggle="collapse" href="#collapseAddress-1"
										aria-expanded="true" aria-controls="collapseAddress-1">
										<span><i class="icon-plus"></i>Add new address </span>

									</button>
									<form id="addAddressForm" action="/add-address-checkout?cart_id=<%=cart._id%>"
										method="post">

										<div id="collapseAddress-1" class="collapse hide p-3"
											aria-labelledby="heading-1" data-parent="#accordion-payment">
											<!-- <input type="radio" readonly="" id="newAddressForm" checked=""> -->
											<div class="p-5">
												<span>&nbsp;Create new shipping address</span>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<label>Full Name *</label>
													<input type="text" class="form-control" name="name" id="name">
													<span class="text-danger fs-5 errorMsg"></span>
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->
											<div>
												<label>Country *</label>
												<input type="text" class="form-control" name="country" id="country">
												<span class="text-danger fs-5 errorMsg"></span>
											</div>
											<div>
												<label>Street address *</label>
												<input type="text" class="form-control" name="address" id="address"
													placeholder="House number and Street name">
												<span class="text-danger fs-5 errorMsg"></span>
											</div>
											<div>
												<label>Locality *</label>
												<input type="text" class="form-control" name="locality" id="locality"
													placeholder="Locality">
												<span class="text-danger fs-5 errorMsg"></span>
											</div>

											<div class="row">
												<div class="col-sm-6">
													<label>District / City *</label>
													<input type="text" class="form-control" name="district"
														id="district">
													<span class="text-danger fs-5 errorMsg"></span>
												</div><!-- End .col-sm-6 -->

												<div class="col-sm-6">
													<label>State *</label>
													<input type="text" name="state" class="form-control" id="state">
													<span class="text-danger fs-5 errorMsg"></span>
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->

											<div class="row">
												<div class="col-sm-6">
													<label>Postcode / ZIP *</label>
													<input type="text" class="form-control" name="pincode" id="pincode">
													<span class="text-danger fs-5 errorMsg"></span>
												</div><!-- End .col-sm-6 -->

												<div class="col-sm-6">
													<label>Phone *</label>
													<input type="tel" class="form-control" name="mobile" id="mobile">
													<span class="text-danger fs-5 errorMsg"></span>
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->
											<!-- 
									<label>Email address *</label>
									<input type="email" class="form-control" name="email" required> -->
											<div class="col-sm-4">
												<label>Address Type</label>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="activeradio"
														id="flexRadioDefault1" value="home" checked>
													<label class="form-check-label" for="flexRadioDefault1">
														Home
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="activeradio"
														id="flexRadioDefault2" value="work">
													<label class="form-check-label" for="flexRadioDefault2">
														Work
													</label>
												</div>
											</div><!-- End .col-sm-4 -->
											<button id="createAddressBtn" type="submit"
												class="btn btn-outline-primary-2 btn-order btn-block">
												<span class="btn-text">Save address & Place Order</span>
												<span class="btn-hover-text">Proceed to Checkout</span>
											</button>
									</form>
								</div>
							</div>
						</div><!-- End .row -->

					</div><!-- End .container -->
		</div><!-- End .checkout -->
		</div><!-- End .page-content -->
		</main><!-- End .main -->
		<%- include("partials/footer.ejs")%>
			</div><!-- End .page-wrapper -->
			<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

			<%- include("partials/mobileview.ejs")%>

				<script src="/js/addressValidation.js"></script>
				<%- include("partials/bottom.ejs")%>

					<script>

						document.getElementById('cancelCoupon').addEventListener('click', async (e) => {
							e.preventDefault();
							let cartId = "<%=cart._id%>"
							const response = await fetch('/coupon/cancel?cartId=' + cartId, {
								method: 'POST',
								headers: {
									"Content-Type": "application/json",
								},
							})
							if (response.ok) {
								location.href = '/checkout/' + cartId;
								toastr.success('Applied coupon removed')
							} else {
								throw new Error('Network response not ok!')
							}

						})


					</script>
					<script>
						const checkoutSubmit = document.getElementById('checkoutSubmit');
						checkoutSubmit.addEventListener('submit',(e)=>{
							e.preventDefault();
							let address = '<%= addresses%>';
							if(address.length==0){
								e.preventDefault();
								console.log('please add an address')
							}else{
								checkoutSubmit.submit();
							}
						})
					</script>

					<script>
						toastr.options = {
							"closeButton": false,
							"debug": false,
							"newestOnTop": true,
							"progressBar": false,
							"positionClass": "toast-top-center",
							"preventDuplicates": false,
							"onclick": null,
							"showDuration": "300",
							"hideDuration": "1000",
							"timeOut": "5000",
							"extendedTimeOut": "1000",
							"showEasing": "swing",
							"hideEasing": "linear",
							"showMethod": "fadeIn",
							"hideMethod": "fadeOut"
						}
						$(document).ready(() => {
							let toast_success = '<%= success%>'
							let toast_error = '<%= error%>'
							if (toast_success != '') {
								toastr.success(toast_success)
							}

							if (toast_error != '') {
								toastr.error(toast_error)
							}
						})
					</script>