<%- include("partials/head.ejs")%>
<body>
    <div class="page-wrapper">
        <%- include("partials/navbar.ejs")%>

  
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        
        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('/assets/images/backgrounds/login-bg.jpg')">
            <% if( success.length>0){%>
				
				<div class="d-flex flex-column align-items-center justify-content-center">
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<%= success %>
						<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
					  </div>
				</div>
				<%}%>
            <% if( alert.length>0){%>
				
				<div class="d-flex flex-column align-items-center justify-content-center">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<%= alert %>
						<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
					  </div>
				</div>
				<%}%>
            <div class="container">
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab-2" data-toggle="tab" role="tab" aria-controls="signin-2" aria-selected="true">Verify User</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2 ">
                                <form action="/forgot-resetpassword/<%= userId%>?_method=PATCH" method="post" id="resetPassSubmit">
                                    

                                    <div class="form">
                                        <label for="otpverification">Enter new password</label>
                                        <input type="password" class="form-control" id="new_password" name="newPassword" onkeyup="passwordCheck(this)" >
                                        <span  class="text-danger fs-5" id="errorMsgPass"></span> 
                                    </div><!-- End .form-group -->
                                    <div class="form">
                                        <label for="otpverification">Confirm new password</label>
                                        <input type="password" class="form-control" id="confirm_password" onkeyup="check(this)" name="confirmPassword" >
                                        <span  class="text-danger fs-5" id="errorMsgConPass"></span> 
                                    </div><!-- End .form-group -->
                                    
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2 w-100">
                                            <span>Continue</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div><!-- End .form-footer -->
                                </form>
                                
                            </div><!-- .End .tab-pane -->

                            
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->
       

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <script>
        const resetPassSubmit = document.getElementById('resetPassSubmit');
        const newPass = document.getElementById('new_password')
            const confPass = document.getElementById('confirm_password');
            const errorMsgConPass = document.getElementById('errorMsgConPass');
            const errorMsgPass = document.getElementById('errorMsgPass');
        resetPassSubmit.addEventListener('submit',(e)=>{
           
            if(newPass.value.length == 0 ){
                e.preventDefault();
                errorMsgPass.innerText = "Enter a password";
            }
            if(confPass.value.length ==0 ){
                e.preventDefault();
                errorMsgConPass.innerText = "Field should not be empty"
            }
            if(newPass.value !== confPass.value){
                e.preventDefault();
                errorMsgConPass.innerText = "Password not matching"
            }
            if(errorMsgConPass.value.length>0 && errorMsgPass.value.length >0){
                e.preventDefault();
            }
        })
        
  function check(elem){
      if(elem.value.length>0){
        if(elem.value!=newPass.value){
          errorMsgConPass.innerText= "Confirm password does not match";
        }else{
          errorMsgConPass.innerText= "";
        }
      }

}
function passwordCheck(elem){
  if(elem.value.length<6){
        errorMsgPass.innerText= "Password length must be minimum 6 characters";
      }else if (elem.value.length>15){
        errorMsgPass.innerText= "Password length must be in between 6-15 characters";
      } else if(elem.value.search(/[a-z]/) < 0) { 
        errorMsgPass.innerText= "Password must contain lowecase letter";
        } else if(elem.value.search(/[A-Z]/) < 0) { 
        errorMsgPass.innerText= "Password must contain at least one uppercase letter";
        } else if(elem.value.search(/[0-9]/) < 0) { 
          errorMsgPass.innerText= "Password must contain at least one number";
        } else{
          errorMsgPass.innerText= "";
        }
}
    </script>
    
	<%- include('partials/bottom')%>