  
<%- include("partials/head.ejs")%>


<body>
    <div class="page-wrapper">
        <%- include("partials/navbar.ejs")%>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Profile</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page"><a href="/profile">My Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="/profile/addresses">Addresses</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Addresses</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0">
								    <li class="nav-item">
								        <a class="nav-link" id="tab-dashboard-link" href="/profile" aria-controls="tab-dashboard" aria-selected="false">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link"  href="/profile/orders"  aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								  
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-address-link"  href="/profile/addresses" aria-controls="tab-address" aria-selected="true">Addresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link"  href="/profile/security"  aria-controls="tab-account" aria-selected="false">Security</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link"  href="/profile/wallet"  aria-controls="tab-account" aria-selected="false">My wallet</a>
								    </li>
								    <li class="nav-item pt-3">
                                        <form action="/logout" method="post">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG OUT</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			
									<div class="fs-3" id="tab-address">
								    
								    	<form action="/profile/address/<%=address._id%>/edit?_method=PATCH" method="post" id="addAddressForm">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>Full Name </label>
			                						<input type="text" class="form-control" name="name" id="name" value="<%= address.name %>" >
													<span  class="text-danger fs-5 errorMsg"></span>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Mobile</label>
			                						<input type="text" class="form-control" value="<%= address.mobile %>" name="mobile" id="mobile" >
													<span  class="text-danger fs-5 errorMsg"></span>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->
											<div class="row">
												<div class="col-sm-6">
													<label>Pincode</label>
													<input type="text" class="form-control" value="<%= address.pincode %>" name="pincode" id="pincode" >
													<span  class="text-danger fs-5 errorMsg"></span>
												</div>

												<div class="col-sm-6">
													<label>Locality</label>
													<input type="text" class="form-control" name="locality" value="<%= address.locality %>" id="locality" >
													<span  class="text-danger fs-5 errorMsg"></span>
												</div>
											</div>	
											<div>
												<label>Address</label>
												<input type="text" class="form-control" name="address" id="address" value="<%= address.address %>" >
												<span  class="text-danger fs-5 errorMsg"></span>
											</div>

											<div class="row">
												<div class="col-sm-6"> 
													<label>City/District</label>
													<input type="text" name="district" id="district" value="<%= address.district %>" class="form-control">
													<span  class="text-danger fs-5 errorMsg"></span>
												</div>
												<div class="col-sm-6">
													<label>State</label>
													<input type="text" name="state" id="state" value="<%= address.state %>" class="form-control">
													<span  class="text-danger fs-5 errorMsg"></span>
												</div>
												<div class="col-sm-6">
													<label>Country</label>
													<input type="text" name="country" id="country" value="<%= address.country %>" class="form-control">
													<span  class="text-danger fs-5 errorMsg"></span>
												</div>
											</div>
											

											<div class="col-sm-4">
												<label>Address Type</label>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="activeradio" id="flexRadioDefault1" value="home" <% if(address.address_type=='home'){%>checked<%}else{%><%}%>>
													<label class="form-check-label" for="flexRadioDefault1">
													  Home
													</label>
												  </div>
												  <div class="form-check">
													<input class="form-check-input" type="radio" name="activeradio" id="flexRadioDefault2" value="work"<%if(address.address_type=='work'){%>checked<%}else{%><%}%>>
													<label class="form-check-label" for="flexRadioDefault2">
													  Work
													</label>
												  </div>
											</div><!-- End .col-sm-4 -->
											<div class="btn-wrap d-flex justify-content-around pt-3">
												<div class="btn-wrap">
													<a href="/profile/addresses" class="btn btn-outline-primary btn-rounded">Cancel</a>
												</div>
												<div>
												<button type="submit" class="btn btn-outline-primary-2">
													<span>SAVE CHANGES</span>
													<i class="icon-long-arrow-right"></i>
												</button>
												</div>
												</div>
			                			</form>
								    </div><!-- .End .tab-pane -->
								 
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include("partials/footer.ejs")%>

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <%- include("partials/mobileview.ejs")%>

	<script src="/js/addressValidation.js"></script>
	<%- include('partials/bottom')%>