<%- include("partials/head.ejs")%>

<body>
    <div class="page-wrapper">
        <%- include("partials/navbar.ejs")%>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Profile</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link"  aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link"  href="/profile/orders"  aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								  
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link"  href="/profile/addresses" aria-controls="tab-address" aria-selected="false">Addresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link"  href="/profile/security"  aria-controls="tab-account" aria-selected="false">Security</a>
								    </li>
									<li class="nav-item">
								        <a class="nav-link" id="tab-account-link"  href="/profile/wallet"  aria-controls="tab-account" aria-selected="false">My wallet</a>
								    </li>
								    <li class="nav-item pt-3">
                                        <form action="/auth/logout" method="post">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG OUT</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
									<div class="row">
										<div class="col-lg-12 ">
											<div class="card card-dashboard">
												<div class="p-3 ps-5 pe-5">
													<div class="d-flex flex-row justify-content-end">
														<!-- End .card-title -->
														
													</div>
													<div><span class="fs-2">Hello, &nbsp;</span> </div> <div><span class="font-weight-normal text-dark fs-2"><%=user.name%></span> </div>
								    	<br>
										<div>
											<span class="">Username : </span> <span><%=user.name%> </span>
										</div>
										<div>
											<span class="">Email : </span> <span><%=user.email%> </span>
										</div>
										<div>
											<span class="">Mobile : </span> <span><%= user.phone %> </span>
										</div>
										<div>
											<span class="">Address : </span> <span><%= user.address %> </span>
										</div>
													
												</div><!-- End .card-body -->
											</div><!-- End .card-dashboard -->
										</div><!-- End .col-lg-6 -->

										
									</div><!-- End .row -->


								    
									
								
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include("partials/footer.ejs")%>

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <%- include("partials/mobileview.ejs")%>

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
</body>


</html>