<%- include("partials/head.ejs")%>
<body>
    <div class="page-wrapper">
        <%- include("partials/navbar.ejs")%>
    
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page">Signup</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
 
            
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-color: azure;">
				
					
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link" id="signin-tab-2" href="/login" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
							    </li>
							    <li class="nav-item">
							        <a class="nav-link active" id="register-tab-2" data-toggle="tab" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
							    </li>
							</ul>
							<div class="tab-content">

                                <!-- SIGNUP -->
							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							    	<form action="/signup" method="post" id="signupFormSubmit">
							    		<div class="form-group"> 
							    			<label for="name">Full name *</label>
							    			<input type="text" class="form-control" id="name" name="name" onkeyup="nameValidation(this)">
											<span  class="text-danger fs-5" id="errorMsgName"> </span>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="email">Your email address *</label>
							    			<input type="email" class="form-control" id="email" name="email" oninput="validateEmailInput()">
											<span  class="text-danger fs-5" id="errorMsgEmail"></span>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="number">Mobile No. *</label>
							    			<input type="text" class="form-control" id="mobile" name="phone" onkeyup="mobileValidation(this)" >
											<span id="errorMsgMobile" class="text-danger fs-5"></span>
							    		</div><!-- End .form-group -->
							    		

							    		<div class="form-group">
							    			<label for="password">Password *</label>
							    			<div class="d-flex align-items-center"><input type="password" class="form-control" id="password" name="password" onkeyup="passwordCheck(this)" >
											<i class="fa fa-eye-slash" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i></div>
                                            <span id="alert-password" class="text-danger fs-5">
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="confirm-password">Confirm-Password *</label>
							    			<input type="password" class="form-control" id="confirm-password" name="confirmPassword" onkeyup="check(this)" >
                                            <span id="alert" class="text-danger fs-5"></span>
							    		</div><!-- End .form-group -->

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
							    		</div><!-- End .form-footer -->
							    	</form>
							    	<div class="form-choice">
								    	<p class="text-center">or sign in with</p>
								    	<div class="row  d-flex flex-row justify-content-center">
								    		<div class="col-sm-6">
								    			<a href="/auth/google" class="btn btn-login btn-g">
								    				<i class="icon-google"></i>
								    				Login With Google
								    			</a>
								    		</div><!-- End .col-6 -->
								    		<!-- <div class="col-sm-6">
								    			<a href="#" class="btn btn-login  btn-f">
								    				<i class="icon-facebook-f"></i>
								    				Login With Facebook
								    			</a>
								    		</div> -->
								    	</div><!-- End .row -->
							    	</div><!-- End .form-choice -->
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

      

    </div><!-- End .page-wrapper -->
    <%- include("partials/mobileview.ejs")%>

<%- include("partials/footer.ejs")%>

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.plugin.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"> </script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/demos/demo-4.js"></script>
    <script src="/js/signup.js"></script>

	<script>
		toastr.options = {
	  "closeButton": false,
	  "debug": false,
	  "newestOnTop": true,
	  "progressBar": false,
	  "positionClass": "toast-top-center",
	  "preventDuplicates": false,
	  "onclick": null,
	  "showDuration": "300",
	  "hideDuration": "1000",
	  "timeOut": "5000",
	  "extendedTimeOut": "1000",
	  "showEasing": "swing",
	  "hideEasing": "linear",
	  "showMethod": "fadeIn",
	  "hideMethod": "fadeOut"
	}
	   $(document).ready(()=>{
		let toast_success = '<%= success%>'
		
		let toast_error = '<%= alert%>'
		if(toast_success !=''){
			toastr.success(toast_success)
		}
		
		if(toast_error !=''){
			toastr.error(toast_error)
		}
	   })
	</script>
</body>